/*style for whole page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*colors for page*/
:root {
    --primary-color: rgb(18, 168, 209);
    --secondary-color: rgb(12, 110, 185);
    --tertiary-color: rgb(1, 227, 159);
    --quanternary-color: rgb(240, 193, 104);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--secondary-color);
}

h2 {
    color: white;

}

/*apply style to header*/
header{
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-image: url("../aragon-wilson-wings/assets/images/pexels-johannes-plenio-1103970.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: underline;
}

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    
}
/* header style ends */

/* hero style starts */

.hero {
    background-image: url("../aragon-wilson-wings/assets/images/pexels-johannes-plenio-1103970.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    display: flex;
}

.hero div p {
    font-size: small;
    display: flex;
    align-content: flex-end;   
}
/* hero style ends */

/*main content style starts here */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.work-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30%;
    border-right: 5px solid white;
    font-size: 40px;
    padding: 30px;
    color:white;
}

.work-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.work-container p{
    color: white;
    
}

.work-project img {
    height: 200px;
    width: 400px;
    border-radius: 5px;
}
