/*style for whole page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*colors for page*/
:root {
    --primary-color: rgb(18, 168, 209);
    --secondary-color: rgb(12, 110, 185);
    --tertiary-color: rgb(1, 227, 159);
    --quanternary-color: rgb(240, 193, 104);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--secondary-color);
}

h2 {
    color: white;

}

/*apply style to header*/
header{
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color: var(--secondary-color);
    color: white;
}

header h1{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

header a {
    text-decoration: underline;
}

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    margin: 10px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    color: white;
    
}
/* header style ends */

/* hero style starts */

.hero {
    background-image: url("./assets/images/pexels-steve-johnson-1509534.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    padding: 50px;
}

.hero div p {
    color: white;
    font-size: 1.55vw;
    font-weight: bold;
    background-color:rgb(12, 110, 185);
    border-radius: 20px;
    padding: 10px;
}

.hero-subtitle {
    display: flex;
    justify-content: flex-end;
}

/* hero style ends */

/*main content style starts here */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; 
    width: 100%;
    margin: 10px;
}

.work-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30%;
    border-right: 5px solid white;
    font-size: 2.55vw;
    padding: 30px;
    color:var(--quanternary-color);
    text-align: left;
}

.about-contain {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.about-image {
    flex: 1 30%;
}

.about-image img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    padding: 10px;
}

.about-content {
    flex: 2 70%;
    color: white;
    
}

.about-content p {
    font-size: 1.55vw;
}

.work-container {
    flex: 0 0 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 20px;
}

.work-project {
    background-image: url("./assets/images/pexels-dom-j-310452.jpg");
    opacity: 0.5;
    width: 45%;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
    border-color:rgb(240, 193, 104);
}

.work-project h3 {
    bottom: 20px;
    width: 50%;
    padding: 10px;
    font-weight: 1.55vw;
    line-height: 30px;
    color: var(--quanternary-color);
    font-size: 2rem;
    text-decoration: none;

}

.work-project p {
    bottom: 20px;
    width: 50%;
    padding: 10px;
    font-weight: 1.55vw;
    line-height: 30px;
    color: var(--secondary-color);
    font-size: 1rem;
    text-decoration: none;
}

.work-project:first-child {
    height: 300px;
    width: 90%;
    background-image: url('./assets/images/whats-for-dinner.jpg');
    background-size: 100%;
    background-repeat: initial;
}
.contact-info {
    width: 70%;
}

.contact-info nav {
    margin: 20px;
}

.contact-info nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 10px;
}

.contact-info nav ul li a {
    padding: 20px 20px;
    margin: 10px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    color: white;
}


/*pseudo classes start here*/
header nav ul li a:hover {
    background-color: var(--quanternary-color);
}

.contact-info nav ul li a:hover {
    background-color: var(--quanternary-color);
}

.contact-info nav ul li p:hover {
    background-color: var(--quanternary-color);
}

.work-project:hover {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    
    header {
        justify-content: center;
    }

    .main-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 25px 0;
    }

    .work-title {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-right: none;
        margin: 0 auto;
        text-align: center;
        border-bottom: 5px solid white;
        font-size: 2.4rem;
    }
    
    .work-container {
        width: 100%;
        justify-content: center;
    }

    .about-contain {
        width: 100%;
        margin: auto;
    }
    .about-image {
        justify-content: center;
        margin: auto;
    }
    .about-content {
        text-align: center;
    }
    .about-content p{
        font-size: 1.2rem;
    }

    .contact-info {
        justify-content: space-between;
    }
}

